<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oasis Restaurant Newark-DE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Client/Scripts/order.js"></script>


    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/customtheme.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ng-grid.css" rel="stylesheet" />
    <link href="~/Content/ng-grid.min.css" rel="stylesheet" />



    <script src="~/Scripts/jquery-2.1.4.js"> </script>
    <script src="~/Scripts/jquery-2.1.4.min.js"> </script>

    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/bootstrap.min.js"> </script>
    <script src="~/Scripts/bootstrap-datepicker.js"> </script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"> </script>
    <script src="~/Scripts/ng-grid.js"></script>
    <script src="~/Scripts/ng-grid.min.js"></script>




    <link href="~/Content/tasker.css" rel="stylesheet" />
    <script>
        $('.datepicker').datepicker()


    </script>



</head>
<body ng-app="order" >
    <div id="headerTasker"><h1> <span class="glyphicon glyphicon-cutlery" ></span> Oasis Restaurant In Newark  </h1></div>

    <div id="subHeaderTasker" class="page page-header">
        <div class="cwcSection">
                        <div class="filterSelector">
                            <div class="filterbtnteam filterteamheader">
                                @Html.ActionLink("Customer Reviews", "NEWS", "NEWS", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                @Html.ActionLink("Locations", "NEWS", "NEWS", routeValues: null, htmlAttributes: new { id = "registerLink" })


                            </div>

                         </div>
                        </div>
                    

       

    </div>


    <div class="panel-footer">
        @RenderSection("featured", required: false)
        @RenderSection("scripts", required: false)

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            <footer class="modal-footer">
                Courtesy By: Rafi Qadri  832-434-9127


            </footer>


        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
